body {
  display: flex;
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outside-container {
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 36px;
  min-height: 150px;
  width: 500px;
}

.container {
  display: flex;
  padding: 0 !important;
}

input {
  background-color: coral;
  border-radius: 30 px;
  height: 30px;
  width: 300px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
